@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    @apply text-3xl font-semibold;
}

.btn-red {
    @apply px-3 py-2 text-white rounded bg-redColor;
}

.card {
    @apply   bg-cardbg border border-cardborder rounded-lg overflow-hidden shadow-lg p-5 flex flex-col;
}



@layer base {
    video::-webkit-media-controls {
      display: none;
    }
  
    video::-webkit-media-controls-play-button {
      display: none;
    }
  
    video::-webkit-media-controls-volume-slider {
      display: none;
    }
  
    video::-webkit-media-controls-mute-button {
      display: none;
    }
  
    video::-webkit-media-controls-timeline {
      display: none;
    }
  
    video::-webkit-media-controls-current-time-display {
      display: none;
    }
  }